.home-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 85vh;
  background-color: #f3f1ef;
  width: 100%;
}

.poster {
  height: 40vh;
  width: 95%;
  background-color: rgb(39, 119, 194);
}

.poster > img {
  height: 40vh;
}

.go-round {
  height: 30vh;
  width: 100%;
  background-color: #f3f1ef;
}
